// 背景色
$bgc-header: #2976d1;
$sec-header: #f1f5f9;

// テキスト
$c-white: #fff;
$c-gray: #93a5b1;

// ボーダー
$layout-border: #5c93bb2b;
$head-border: #2976d1;

// テーブルイメージのエリア
$t-header: #000;
$t-header-text: #fff;
$t-border-gray: #e6e6e6;
$t-border-gray-light: #f2f2f2;
