// サイトバーの内部

.sidebar {
  margin-right: 16px;
  position: relative;

  &_inside {
    position: sticky;
    top: 0;
  }

  .header {
    &__title {
      background-color: $bgc-header;
      padding: 12px 0;
      text-align: center;
      color: $c-white;
      border-bottom: 2px solid $layout-border;

      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &__nav {
      ul {
        padding: 24px;
        li {
          position: relative;
          margin: 16px auto 0;
          padding: 0 0 0 10px;

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 6px;
            height: 6px;
            top: 5px;
            left: -4px;
            border-radius: 100%;
            background: $head-border;
          }

          a {
            display: block;
            color: $c-gray;
            font-size: 14px;

            &:hover {
              color: #222;
            }
          }

          ul {
            padding: 0;
          }
        }
      }
    }
  }
}
