.icon-NNF::before {
  content: none !important;
}
.icon-SW::before {
  background-image: url(/image-creator/market/image/flags/sw.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-US::before {
  background-image: url(/image-creator/market/image/flags/us.png);
}
.icon-CN::before {
  background-image: url(/image-creator/market/image/flags/cn.png);
}
.icon-JP::before {
  background-image: url(/image-creator/market/image/flags/jp.png);
}
.icon-EU::before {
  background-image: url(/image-creator/market/image/flags/eu.png);
}
.icon-GB::before {
  background-image: url(/image-creator/market/image/flags/gb.png);
}
.icon-GER::before {
  background-image: url(/image-creator/market/image/flags/ger.png);
}
.icon-KO::before {
  background-image: url(/image-creator/market/image/flags/ko.png);
}
.icon-FR::before {
  background-image: url(/image-creator/market/image/flags/fr.png);
}
.icon-AUS::before {
  background-image: url(/image-creator/market/image/flags/aus.png);
}
.icon-BR::before {
  background-image: url(/image-creator/market/image/flags/br.png);
}
.icon-NZ::before {
  background-image: url(/image-creator/market/image/flags/nz.png);
}
